
.img{
    text-align: center;
}

.img2{
    text-align:center
}


.darlinginthefranxx{
    text-align: center;
    
}

.akame{
    text-align: center;

}

.ao{
    text-align: center;
    
}

.clover{
    text-align: center;
}

.Bleach{
    text-align: center;
}

.csm{
    text-align:center;
}

.edens{
    text-align:center;
}

.fairy{
    text-align:center;
}

.Jigokuraku{
    text-align:center;
}