.img{
    text-align: center;
}
.img2{
    text-align: center;
}

.aot{
    text-align: center;
}
.bleach{
    text-align: center;
}
.geass{
    text-align: center;
}
.edens{
    text-align: center;
}
.slayer{
    text-align: center;
}
.fullmetal{
    text-align: center;
}
.gintama{
    text-align: center;
}
.hajime{
    text-align: center;
}
.inuyashiki{
    text-align: center;
}
.jigo{
    text-align: center;
}